

*{
    margin: 0;
    
}

header{
    display: flex;
    background-color: aqua;
    
}

header div{
    display: flex;
    margin-left: 20px;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

header img{
    height: 50px;
    width: 50px;
}

#brand{
    padding: 10px;
    font-size: 30px;
}

.btn{
    display: flex;
    margin-left: 10px;
    gap: 10px;
}

.btn1{
    width: 120px;
    height: 40px;
    background-color: #043dea;  
    color: #ffffff;             
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn2{
    width: 120px;
    height: 40px;
    background-color: #2ecc71;  
    color: #ffffff;             
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}


.btn-item:hover{
    background-color: #27ae60;
}


nav{
    background: hsla(233.6, 82.4%, 46.7%, 0.64);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative;
}

ul{
    display: flex;
    gap: 25px;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
}

nav ul a{
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    border-radius: 5px;        
    padding-left: 10px;
    background: bisque;
}

nav ul a:hover{
    background-color: bisque;
    color: black;
    border-radius: 5px;        
    padding-left: 10px; 
    font-size: 20px;
}


/* main{
    background: url(background.jpg);
    width: 1270px;
    height: 500px;
    
} */

.container{
    display: flex;
    min-height: 20vh;

}

.sidebar {
    
    top: 20px;
    left: 0;
    height: 74vh;
    width: 200px; 
    background: #0a2540;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    
    
}

.sidebar .menu {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
}

.sidebar .menu li a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    white-space: nowrap;
    border-radius: 5px;        
   
    background: hsla(233.6, 82.4%, 46.7%);
    justify-content: center;
}

.sidebar .menu li a:hover{
    background-color: bisque; 
    color:black;
    border-radius: 5px;        
    padding-left: 25px;        
}


.main-content{
    background: url(background.jpg) no-repeat center center; 
    background-size: cover;  
    width: 100%;
    height: 68vh;            
    flex: 1;
    margin-left: 0; 
    padding: 20px;
}

footer{
    background-color: hsla(233.6, 82.4%, 46.7%, 0.64);
    padding: 10px; 
    text-align: center; 
    margin-top:0;
}


.search-container {
    display: flex;
    align-items: center;
    margin-left: 550px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin: 20px;
}

.gallery-item {
    position: relative; 
    overflow: hidden;
    border-radius: 20px;
}

.gallery-item img {
    width: 80%;
    height: auto;
    display: block;
    max-height: 150px;
    
}


.gallery-item .name {
    position: absolute;
    top: 10px;      
    left: 10px;
    background: rgba(0,0,0,0.5); 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
