<div class="signup-wrapper">
  <div class="signup-card">

    <h2>Create Account</h2>
    <p>Start your journey with us</p>

    <form [formGroup]="signupForm" (ngSubmit)="submit()">

      
      <div class="input-group">
        <input type="text" placeholder="Full Name" formControlName="name">
        <span *ngIf="signupForm.controls.name.touched &&
                     signupForm.controls.name.hasError('required')">
          Name is required
        </span>
      </div>

      
      <div class="input-group">
        <input type="email" placeholder="Email Address" formControlName="email">
        <span *ngIf="signupForm.controls.email.touched &&
                     signupForm.controls.email.hasError('required')">
          Email is required
        </span>
        <span *ngIf="signupForm.controls.email.touched &&
                     signupForm.controls.email.hasError('email')">
          Invalid email format
        </span>
      </div>

    
      <div class="input-group">
        <input type="password" placeholder="Password" formControlName="password">
        <span *ngIf="signupForm.controls.password.touched &&
                     signupForm.controls.password.hasError('required')">
          Password is required
        </span>
        <span *ngIf="signupForm.controls.password.touched &&
                     signupForm.controls.password.hasError('minlength')">
          Minimum 6 characters
        </span>
      </div>

      <button type="submit">Sign Up</button>

      <div class="footer-text">
        Already registered? <a href="#">Login</a>
      </div>

    </form>
  </div>
</div>

